{% extends 'base.html' %}

{% block title %} About / Oblivion {% endblock %}

{% block body %}

<h1 class="title"> ABOUT</h1>

<h2 class="team">_Team</h2>

<ol>
    <div class="ind">
        <img class="portraits" src="static/images/small-box.png" alt="">
        <li class="name-border">Franco//</li>
        <p class="peep-description">Here goes Franco's description</p>
    </div>
    <div class="ind">
        <img src="static/images/small-box.png" alt="">
        <li class="name-border">Alsje//</li>
        <p class="peep-description">Here goes Alsje's description</p>
    </div>
    <div class="ind">
        <img src="static/images/small-box.png" alt="">
        <li class="name-border">Adib//</li>
        <p class="peep-description">Here goes Adib's description</p>
    </div>
    <div class="ind">
        <img src="static/images/small-box.png" alt="">
        <li class="name-border">Markus//</li>
        <p class="peep-description">Here goes Markus's description</p>
    </div>
</ol>


<h2>
    _AIM
</h2>

<!-- AIM box -->

<div class="what-we-do">
    <p class="text-big-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam sapien 
        tincidunt ultrices lectus quam velit, dolor. Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada. Semper id faucibus a diam et mauris tellus in scelerisque. Risus ut in senectus vitae pulvinar augue diam, aliquet. Vulputate id viverra sed imperdiet quam sed. Neque ante enim augue aliquam. 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam sapien 
        tincidunt ultrices lectus quam velit, dolor. Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada. Semper id faucibus a diam et mauris tellus in scelerisque. Risus ut in senectus vitae pulvinar augue diam, aliquet. Vulputate id viverra sed imperdiet quam sed. Neque ante enim augue aliquam. 

        Ornare enim tempus morbi pellentesque. Diam suspendisse mattis maecenas interdum.
        Egestas quis elit neque cras bibendum gravida consLorem ipsum dolor sit amet, consectetur adipiscing elit. Quam sapien 
        tincidunt ultrices lectus quam velit, dolor. Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada. Semper id faucibus a diam et mauris tellus in scelerisque. Risus ut in senectus vitae pulvinar augue diam, aliquet. Vulputate id viverra sed imperdiet quam sed. Neque ante enim augue aliquam. 

        Ornare enim tempus morbi pellentesque. Diam suspendisse mattis maecenas interdum.
        Egestas quis elit neque cras bibendum gravida consLorem ipsum dolor sit amet, consectetur adipiscing elit. Quam sapien 
        tincidunt ultrices lectus quam velit, dolor. Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada. Semper id faucibus a diam et mauris tellus in scelerisque. Risus ut in senectus vitae pulvinar augue diam, aliquet. Vulputate id viverra sed imperdiet quam sed. Neque ante enim augue aliquam. 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam sapien 
        tincidunt ultrices lectus quam velit, dolor. Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada. Semper id faucibus a diam et mauris tellus in scelerisque. Risus ut in senectus vitae pulvinar augue diam, aliquet. Vulputate id viverra sed imperdiet quam sed. Neque ante enim augue aliquam. 

        Ornare enim tempus morbi pellentesque. Diam suspendisse mattis maecenas interdum.
        Egestas quis elit neque cras bibendum gravida consLorem ipsum dolor sit amet, consectetur adipiscing elit. Quam sapien 
        tincidunt ultrices lectus quam velit, dolor. Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada. Semper id faucibus a diam et mauris tellus in scelerisque. Risus ut in senectus vitae pulvinar augue diam, aliquet. Vulputate id viverra sed imperdiet quam sed. Neque ante enim augue aliquam. 

        Ornare enim tempus morbi pellentesque. Diam suspendisse mattis maecenas interdum.
        Egestas quis elit neque cras bibendum gravida cons
        Ornare enim tempus morbi pellentesque. Diam suspendisse mattis maecenas interdum.
        Egestas quis elit neque cras bibendum gravida cons
        Ornare enim tempus morbi pellentesque. Diam suspendisse mattis maecenas interdum.
        Egestas quis elit neque cras bibendum gravida consequat dictumst. Ac elementum senectus faucibus nibh in morbi. Pellentesque quis libero pulvinar sit enim pellentesque ultrices. 
    </p>
    <img class="wwd-img" src="static/images/square-box.png" alt="">

</div>

<!-- Mission and Vision -->

<div class="m-and-v">
    <div class="mission">
        <h4 class="middle">_Mission</h4>
        <p class="fill">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam sapien tincidunt ultrices lectus quam velit, dolor. Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada. Semper id faucibus a diam et mauris tellus in scelerisque. Risus ut in senectus vitae pulvinar augue diam, aliquet. Vulputate id viverra sed imperdiet quam sed. Neque ante enim augue aliquam. 
        </p>
    </div>

    <div class="mission">
        <h4 class="middle">_Vission</h4>
        <p class="fill">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam sapien tincidunt ultrices lectus quam velit, dolor. Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada. Semper id faucibus a diam et mauris tellus in scelerisque. Risus ut in senectus vitae pulvinar augue diam, aliquet. Vulputate id viverra sed imperdiet quam sed. Neque ante enim augue aliquam. 
        </p>
    </div>
</div>


<div class="footer">
    <img class="socials" src="static/images/small-box.png">
    <img class="socials"src="static/images/small-box.png">
    <img class="socials"src="static/images/small-box.png">
</div>


{% endblock %}