{% extends 'base.html' %}

{% block title %} Glossary / Oblivion {% endblock %}

{% block body %}

<h1 class="title">GLOSSARY</h1>



<div class="glossary-container">

    <div class="def">
        <h3>Word 1</h3>
        <p>Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada.</p>
    </div>

    <div class="def">
        <h3>Word 2</h3>
        <p>Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada.</p>
    </div>

    <div class="def">
        <h3>Word 3</h3>
        <p>Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada.</p>
    </div>

    <div class="def">
        <h3>Word 4</h3>
        <p>Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada.</p>
    </div>

    <div class="def">
        <h3>Word 5</h3>
        <p>Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada.</p>
    </div>

    <div class="def">
        <h3>Word 6</h3>
        <p>Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada.</p>
    </div>

    <div class="def">
        <h3>Word 7</h3>
        <p>Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada.</p>
    </div>

    <div class="def">
        <h3>Word 8</h3>
        <p>Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada.</p>
    </div>

    <div class="def">
        <h3>Word 9</h3>
        <p>Quisque massa senectus orci nunc faucibus. Etiam lorem integer nisi, risus, at ut malesuada.</p>
    </div>

</div>

{% endblock %}