{% extends 'base.html'%}

{% block title %} Oblivion {% endblock %}

{% block body %}


<main>
    <img class="big"src="static/images/big-image.png">

    <!-- Link boxes -->
    <div class="container">
        <a class="mini-links" href="about">About</a>
        <a class="mini-links" href="use-cases">Use Cases</a>
        <a class="mini-links" href="glossary">Glossary</a>
    </div>

    <!-- Socials -->

    <div class="footer">
        <img class="socials" src="static/images/small-box.png">
        <img class="socials"src="static/images/small-box.png">
        <img class="socials"src="static/images/small-box.png">
    </div>
{% endblock %}