{% extends 'base.html' %}

{% block title %} Use-cases / Oblivion {% endblock %}

{% block body %}

<h1 class="middle"> USE CASES </h1>

<div class="use-cases-container">
    <div class="ind-use-case">
        <p>Use case 1 </p>
        <img src="static/images/big-image.png" class="img-center">
    </div>

    <div class="ind-use-case">
        <p>Use case 2 </p>
        <img src="static/images/big-image.png" class="img-center">
    </div>

    <div class="ind-use-case">
        <p>Use case 3 </p>
        <img src="static/images/big-image.png" class="img-center">
    </div>
</div>
{% endblock %}