.nav {
    width: 100vw; 
    height: 60px; 

    display: flex; 
    align-items: center;
    justify-content: space-between;
    background-color: #C4C4C4;
    position: fixed;
    top: 0; 
    left: 0; 
}

/* 
    INDEX 
*/
.big {
    display: flex; 
    justify-content: center;
}

li {
    list-style: none; 
    display: inline-block;
    margin-right: 1rem; 
}

.middle {
    text-align: center;
    margin-top: 100px;
}

a {
    text-decoration: none;
}

.last {
    margin-right: 50px;
}

h1 {
    margin-left: 20px;
}

.title {
    margin-top: 90px;
    margin-bottom: 60px;  
    font-size: 50px;
    text-align: center;    
}

/* Team members description boxes  */ 

.ind {
    display: inline-block;
    margin-top: 25px; 
    background-color: #C4C4C4;
    padding: 0px; 
}

.peeps {
    display: inline-block; 
    align-items: center;
}

ol {
    width: 100%; 
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.name-border {
    margin: 10px;
    display: block; 
    text-align: center;
    text-transform: uppercase;
    border: 1px solid black; 
    border-radius: 7px; 
}

.peep-description {
    border: 1px solid black; 
    padding-bottom: 80px; 
}

/*
    About page
*/


/* Aim box */ 

.what-we-do {
    width: 100%; 
    background-color: #C4C4C4;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

}

main img {
    margin-top: 120px; 
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 120px;
}

/* Mission and vision */ 

.m-and-v {
    display: flex; 
    justify-content: space-around;
}

.mission {
    background-color: #C4C4C4;
    width: 30%;

}

.fill {
    padding: 40px; 
}


a:visited {
    color: black; 
}



.container {
    border: 2px solid black; 
    display: flex; 
    align-items: center;
    justify-content: center;
    position: static; 
    left: 0; 
    right: 0; 
    background-color: #C4C4C4;
    margin-bottom: 50px; 
}

/* Here I don't know how to make the boxes overflow on the top, also need to fix
the link area that is clickable
*/

.footer {
    margin-top: 100px;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #C4C4C4;
    postion: fixed; 


}
.mini-links {  
    border: 2px solid black; 
    margin: 40px 100px; 
    padding: 60px; 
}

.socials {
    margin: 0; 
    padding: 0 10px; 
}

/*
    USE CASES
*/ 

.use-cases-container {
 }

.img-center {
    width: 100%;;
}


/*
    GLOSSARY
*/

.glossary-container {
    background-color: #C4C4C4;
    margin-left: 40px;
    margin-right: 40px;
}

.def {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

/*
    Contact us 
*/

