.nav {
    width: 100%; 
    height: 60px; 

    display: flex; 
    align-items: center;
    justify-content: space-between;
    background-color: #C4C4C4;
    position: fixed;
    top: 0; 
    left: 0; 
}

li {
    list-style: none; 
    display: inline-block;
    margin-right: 1rem; 
}

.last {
    margin-right: 50px;
}

h1 {
    margin-left: 20px;
}

img {
    padding-top: 120px; 
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}

